<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
<xacro:macro name="body_links">
<!--  MAIN BODY  -->
<!--  MAIN LINK  -->
    <link name='HR-OS1::body_structure_link'>
      
      <gravity>1</gravity>
      <self_collide>0</self_collide>
      <kinematic>0</kinematic>

      <visual name='body_structure_visual'>
        <pose>0 0 0 0 -0 0</pose>
        <geometry>
          <mesh filename="model://HR-OS1/meshes/HROS1_Simple - Body_Structure.stl"/>
        </geometry>
        <!--
        <material>
          <script>
            <uri>file://media/materials/scripts/gazebo.material</uri>
            <name>Gazebo/Grey</name>
          </script>
        </material>
        -->
      </visual>
      
      <collision name="collision">
        <pose> 0 -0.055 0.08 0 0 0 </pose>
        <geometry>
          <box>
            <size>0.08 0.07 0.12</size>
          </box>
        </geometry>
      </collision>
      
      <inertial>
        <origin xyz="0 -0.065 0.082" rpy=" 0 -0 0"/>
        <mass value="0.273"/>
        <inertia
          ixx="0.00074"
          ixy="-0.0000022"
          ixz="0.000000010"
          
          iyy="0.00088"
          iyz="0.000012"
          
          izz="0.00047"
          />
      </inertial>
    </link> 



<!--  SERVOS ON BODY  -->
<!--  JOINTS CONNECTED HERE  -->
    <link name='HR-OS1::body_servos_link'>
      <pose>0 0 0 0 -0 0</pose>
      <gravity>1</gravity>
      <self_collide>0</self_collide>
      <kinematic>0</kinematic>

      <visual name='body_servos_visual'>
        <pose>0 0 0 0 -0 0</pose>
        <geometry>
          <mesh filename="model://HR-OS1/meshes/HROS1_Simple - Body_Servos.stl"/>
        </geometry>
        <!--
        <material>
          <script>
            <uri>file://media/materials/scripts/gazebo.material</uri>
            <name>Gazebo/Grey</name>
          </script>
        </material>
        -->
      </visual>
      
      <inertial>
        <origin xyz="0 -0.055 0.086" rpy=" 0 -0 0"/>
        <mass value="0.221"/>
        <inertia
          ixx="0.000056"
          ixy="0.000000068"
          ixz="0.00000015"
          
          iyy="0.00078"
          iyz="-0.00010"
          
          izz="0.00031"
          />
      </inertial>
    </link>


<!--  MAIN BATTERY  -->
<!--  ADDED FOR WEIGHT  -->
    <link name='HR-OS1::body_battery_link'>
      <pose>0 0 0 0 -0 0</pose>
      <gravity>0</gravity>
      <self_collide>0</self_collide>
      <kinematic>0</kinematic>

      <visual name='body_battery_visual'>
        <pose>0 0 0 0 -0 0</pose>
        <geometry>
          <mesh filename="model://HR-OS1/meshes/HROS1_Simple - Body_Battery.stl"/>
        </geometry>
        <!--
        <material>
          <script>
            <uri>file://media/materials/scripts/gazebo.material</uri>
            <name>Gazebo/Grey</name>
          </script>
        </material>
        -->
      </visual>
      
      <inertial>
        <origin xyz="0 -0.078 0.036" rpy=" 0 -0 0"/>
        <mass value="0.25"/>
        <inertia
          ixx="0.000037"
          ixy="-0.000000049"
          ixz="0.0"
          
          iyy="0.00026"
          iyz="0.0"
          
          izz="0.00027"
          />
      </inertial>
    </link>
</xacro:macro>

<xacro:macro name="body_joints">
<joint name="body-servos_fixture_joint" type="revolute">
    <parent>HR-OS1::body_structure_link</parent>
    <child>HR-OS1::body_servos_link</child>
    <axis>
      <xyz>0 0 1</xyz>
        <limit>
          <lower>0</lower>
          <upper>0</upper>
        </limit>
    </axis>
  </joint>
  
  <joint name="body-battery_fixture_joint" type="revolute">
    <parent>HR-OS1::body_structure_link</parent>
    <child>HR-OS1::body_battery_link</child>
    <axis>
      <xyz>0 1 0</xyz>
        <limit>
          <lower>0</lower>
          <upper>0</upper>
        </limit>
    </axis>
  </joint>
</xacro:macro>
</robot>
