<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

<xacro:macro name="ax12_limits">
    <!-- [Nm, rpm, rad, rad] assumed -->
    <limit effort="1.5" velocity="59" lower="-3.1415" upper="3.1415"/>
</xacro:macro>

<xacro:macro name="ax12_dynamics">
    <dynamics damping="0.00" friction="0.0"/>
</xacro:macro>

<xacro:macro name="loose_dynamics">
    <!--<dynamics damping="0.01" friction="0.001"/>-->
</xacro:macro>
</robot>
